{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "jsx-quotes": "off",
    "prefer-template": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/interactive-supports-focus": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "react/no-did-mount-set-state": "off",
    "func-names": "off",
    "import/no-extraneous-dependencies": "off"
  }
}