.jumbotron {
  margin-bottom: 0;
}

.jumbotron-dropdown {
  margin: 32px auto;
}

code {
  border-radius: 3px;
  line-height: 1.8 !important;
  padding: 0 !important;
  margin: 0 !important;
}

pre {
  margin: 0 !important;
  padding: 1rem !important;
}

.option.option--success:hover {
  background-color: #28a745;
  color: white;
}

.option.option--danger:hover {
  background-color: #dc3545;
  color: white;
}

.option.option--primary:hover {
  background-color: #007bff;
  color: white;
}

.custom-option {
  margin-left: 10px;
}

.custom-option button {
  vertical-align: middle;
}