body {
  height: 1000px;
  width: 2000px;
}

.trigger {
  margin-left: 250px;
  display: inline-block;
}

.menu {
  position: absolute;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  margin-top: 8px;
  min-width: 300px;
  max-width: 420px;
}

.menu:focus {
  outline: none
}

.option {
  height: 24px;
  padding: 8px 16px;
}

.option.focused,
.option:hover {
  background: #f0f0f0;
  cursor: pointer;
}